.Navbar_main {
    max-width: 100%;
    max-height: 5rem;
    justify-content: center;
    display: flex;
    position: relative;
    z-index: 10;
}

.Navbar_container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Navbar_logo {
    width: 160px;
    height: auto;
    margin: 10px 0px 0px 0px;
}

.Navbar_tabs {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    width: 17%;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Navbar_tabs a {
    font-weight: bold;
    color: #8987A1;
    text-decoration: none;
}

.Navbar_tabs a:hover {
    color: #4E47FF;
}

/* Hamburger menu icon */
.hamburger_menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.hamburger_menu .bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .Navbar_logo {
        width: 150px;
        height: auto;
        margin: 10px 0px 0px -20px;
    }
    .Navbar_tabs {
        position: absolute;
        top: 100%;
        left: 0;
        width: 10%;
        flex-direction: column;
        /* background-color: #e6e5e5; */
        transform: translatex(-100%);
        opacity: 0;
        visibility: hidden;
        text-align: center;
        padding: 1rem 0;

    }

    .Navbar_tabs.open {
        gap: 10%;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .tabs {
        display: flex;
        margin-bottom: 25%;;
        font-size: 18px;
    }

    .hamburger_menu {
        display: flex;
    }
}
