.home_popup {
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000017;
    display: none;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
  }
  .acticehome_popup {
    display: flex;
  }
  
  .home_popupForNotess {
    width: 576px;
    height: 300px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
    position: relative;
    padding: 0 0 2% 5%;
    border-radius: 10px;
    /* box-shadow: 1px; */
  }
  #newNoteTitlee {
    width: 376px;
    height: 35px;
    box-decoration-break: none;
    padding: 10px 10px 0 10px;
    border: 0.1px solid #252432;
  }
  #newNoteTitlee,
  #newNoteTitlee,
  ::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
  }
  input {
    /* opacity: 0; */
    width: 100%;
    height: 100%;
  }
  .newNoteDropFile {
    width: 222px;
    height: 113px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    background-color: #eeeefa;
  }
  .home_saveBtn {
    width: 88px;
    height: 31px;
    color: #fff;
    display: flex;
    position: absolute;
    bottom: 24px;
    align-items: center;
    border: 1px solid transparent; /* Add initial border */
  
    justify-content: center;
    background-color: #4285f4;
    border-radius: 5px;
    cursor: pointer;
  
    right: 52px;
  }
  .home_saveBtn:hover {
    border: 1px solid #4285f4;
    background-color: #fff;
    color: #4285f4;
    box-sizing: border-box;
  }
  
  .home_deleteBtn {
    width: 88px;
    height: 31px;
    color: #d14343;
    border: 1px solid transparent; /* Add initial border */
    display: flex;
    position: absolute;
    bottom: 24px;
    align-items: center;
    justify-content: center;
    /* background-color: #4285F4; */
    border-radius: 5px;
    right: 180px;
    transition: 300ms;
    box-sizing: border-box;
    cursor: pointer;
  }
  .home_deleteBtn:hover {
    border: 1px solid #d14343;
    box-sizing: border-box;
  }
  .calender{
    width: 276px;
    height: 40px;
    /* border: 1px solid #252432; */
    /* background-color: #da4d4d; */
    display: flex;
    /* gap: 1px; */
    align-items: center;
    /* opacity: 0.5; */

  }
  .todoDivider{
    height: 40px;
    border: 1px solid #252432;

  }
  .todoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    opacity: 0.5;
    gap: 16px;
  }